<button mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>edit</mat-icon>
  </button>

<form [formGroup]="updateForm">
    <div>
        <input type="text" formControlName="name" placeholder="name">
        @if(updateForm.controls['name'].errors){
            <div>Must Max 7 letter</div>
        }
        <input type="text" formControlName="address" placeholder="address">
        @if(updateForm.controls['address'].errors)
        {
            <p>Must Min 4 letter</p >                  
        }
        <input type="text" formControlName="phoneNumber" placeholder="phoneNumber">
        @if(updateForm.controls['phoneNumber'].errors)
        {
            <div>Must Enter Model</div>
        }
       
       
    </div>
    <button (click)="onUpdate()" [disabled]="!updateForm.valid"> Save To Customer</button>
</form>