<!-- <div class="filter-container">
  <mat-form-field appearance="fill">
    <mat-label>{{ placeholderText }}</mat-label>
    <input matInput [formControl]="searchControl" [placeholder]="placeholderText">
  </mat-form-field>
</div> -->
<!-- <div class="filter-container">
  <div *ngFor="let filter of filters">
    <mat-form-field appearance="outline">
      <mat-label>{{ filter.label }}</mat-label>
      <input matInput [formControl]="filter.control" [placeholder]="filter.placeholder">
    </mat-form-field>
  </div>
</div> -->
<div>
  <input [formControl]="searchControl" [placeholder]="placeholder" />
</div>